// ==========================================================================
// Detachable
// ==========================================================================

.bidmatic-detachable {
  &.detached {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 210px;
    width: 370px;
    z-index:100;

    &>* { margin: 0}
    $size: 30px;
    .close {
      position: absolute;
      right: 0px;
      top: -$size;
      width: $size;
      height: $size;
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: $size;
        width: 2px;
        background-color: #000000;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
